## Ignore tests, homeworks and quests
test*
hw*
quest*
exam*

## ...except some published homeworks
!hw1.tex
!hw2.tex
!hw3.tex
!hw4.tex
!hw5.tex
!hw6.tex
!hw7.tex
!hw8.tex

## Extra ignore
.devcontainer/
.vscode/
trash
_*
*.pdf
*.txt
*.cmd

## TeX
# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.dvi
*.out.ps
*.upa
*.upb
# Generated if empty string is given at "Please type another file name for output:"
.pdf
# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
